   <!-- Top Bar Start -->
   <div class="top-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a href="">
                        <h1>ViruEdu</h1>
                        <!-- <img src="img/logo.jpg" alt="Logo"> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->