<html>
<head>
    <title>Verification Mail</title>
</head>
<body>
    <h1>welcome to PetLover</h1>
    <p>You have successfully resgister on PetLover your login credentials attech below</p>
    <h2> Username or Email : <%= email %></h2>
    <h2>password : <%= password %> </h2>
    <h1>Click on the link  below to verify your account</h1>
    http://localhost:3000/verifyUser?emailId=<%= email %> 
</body>
</html>